.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px calc(100px / 4) 0 0;
}

.table__cell_theme_dark:nth-of-type(4n) {
  margin-right: calc(100px / 4);
}

.table__cell_theme_dark:nth-of-type(5n) {
  margin-right: 0;
}
